body{
	background-color: aqua;
}

#icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10vw;
}
#title{
	height: 5vh;
	font-size:5vw;
	
}

.input{
	height: 5vh;
	font-size:5vw;
	text-align: center;
}

#original, #interest, #period{
	width: 20%;
}

#confirm{
	padding: 5vw,5vw;
	font-size: 10vw;
}
