html { 
  background: url(background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

body{
	margin: 0;
	padding: 0;
}


#icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25vw;
}
#title{
	height: 5vh;
	font-size:5vw;
	text-align: center;
	font-weight: bold;
	margin: 5vw;
	color:gold;
	font-family: Snell Roundhand, cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

table{
	width: 100%;
}

#original, #interest, #period{
	width: 90%;
	height: 5vw;
	background-color:rgb(200,200,200); 
	color: rgb(0,0,0);
	font-weight: 5vw;
}

.col1, .col3{
	width: 20%;
	font-size:5vw;
	vertical-align: sub;
	font-weight: bold;
	color:gold;
	font-family: Snell Roundhand, cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.col2{
	width: 80%;
}

.options{
	text-align: center;
	font-size: 5vw;
	font-weight: bold;
	color:gold;
	font-family: Snell Roundhand, cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.confirm{
	text-align: center;	
	height: 20vh;
}

#confirm_button{
	width: 10vw;
	height: 5vw;
	font-size: 3vw;
	font-weight: bold;
	color:gold;
	font-family: Snell Roundhand, cursive;
	background-color: rgb(200,200,200);
}


#output1,#output2{
	text-align: center;
	font-size: 10vw;
	font-weight: bold;
	color:gold;
	font-family: Snell Roundhand, cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p {margin: 0;}

