body{
	background-color: aqua;
}

#icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10vw;

}
#title{
	height: 5vh;
	font-size:5vw;
	text-align: center;
	font-weight: bold;
}
table{
	width: 100%;
}

#original, #interest, #period{
	width: 90%;
	height: 5vw;
}

.col1, .col3{
	width: 20%;
	font-size:5vw;
	vertical-align: sub;
	font-weight: bold;
}
.col2{width: 80%;}
.options{
	text-align: center;
	font-size: 5vw;
}

.confirm{
	text-align: center;
	font-size: 5vw;
}

.output{
	text-align: center;
	font-size: 5vw;
}
p {margin: 0;}

